<div
    class="container-fluid mx-0 bg-dark text-white mono h-100 d-flex flex-row row align-items-center justify-content-around">
    <div class="col-12 col-md-6">
        <p class="fs-1">Anshum Gill</p>
        <p class="fs-3">
            DevOps Engineer
            <span class="blinking-cursor">|</span>
        </p>
        <a routerLink="/projects" class="btn btn-primary btn-sm">View Work</a>
        <a routerLink="/contact" class="ms-5 btn btn-outline-primary btn-sm">
            Contact Me
        </a>
    </div>
    <div class="col-8 col-md-3 align-self-end pb-5">
        <svg
            class="img-fluid tea"
            viewBox="0 0 37 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M27.0819 17H3.02509C1.91077 17 1.01377 17.9059 1.04851 19.0197C1.15762 22.5177 1.49704 29.7374 2.50001 34C4.07126 40.6778 7.18554 44.8868 8.44857 46.3845C8.79052 46.79 9.298 47 9.82844 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z"
                stroke="var(--bs-primary)"
                stroke-width="2" />
            <path
                d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34"
                stroke="var(--bs-primary)"
                stroke-width="2" />
            <path
                id="steamL"
                d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
            <path
                id="steamR"
                d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
    </div>
</div>
