/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
.pointer {
	cursor: pointer;
}
.mono {
	font-family: "Roboto Mono", monospace !important;
}
body {
	font-family: "Noto Sans JP", sans-serif !important;
}
.iso {
	position: relative;
	isolation: isolate;
}
.overlay-1 {
	background: rgba(255, 255, 255, 0.05);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-2 {
	background: rgba(255, 255, 255, 0.07);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-3 {
	background: rgba(255, 255, 255, 0.08);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-4 {
	background: rgba(255, 255, 255, 0.09);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-6 {
	background: rgba(255, 255, 255, 0.11);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-8 {
	background: rgba(255, 255, 255, 0.12);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-12 {
	background: rgba(255, 255, 255, 0.14);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-16 {
	background: rgba(255, 255, 255, 0.15);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-24 {
	background: rgba(255, 255, 255, 0.16);
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.code {
	counter-reset: line;
}
.code p::before {
	counter-increment: line;
	content: counter(line);
	margin-right: 1em;
	display: inline-block;
	color: var(--bs-secondary);
}
